
.header{
    
    border-radius: 1px;
    border: 1px solid blue;
    width: 69%;
    display: inline-block;
    background-color: #f3f5fc;
    display: inline-block ;

}
.logo{
    border: 1px solid black;
    background-color: #f3f5fc;
}

.alura{
    margin-top: 30px;
    padding-left: 48px;
    width: 30px;
    display: inline-block ;
}

.encript{
    border: 1px solid black;
    background-color: red;
    width: 30.4%;
    display: inline-block;


}

.textArea {
    width: 69%;
    border: 1px solid black;
    background-color: #f3f5fc;
    display: inline-block ;
}

.botones{
    border: 1px solid black;
    background-color: #f3f5fc;
    display: inline-block;
    width: 69%;
}